// .formulario {
//   width: 100%;
//   margin-top: 25px;
//   border-radius: 4px;
//   margin-bottom: 15px;
//   border: 1px solid #8bb67e;
// }

.contacto {
  grid-area: contacto;
  display: grid;
  width: 800;
  height: 100vh;
  padding: 70px;
  color: grey;
  margin-top: 0px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "contacto"
    "item4";
}

.contacto .text {
  color: black;
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  padding: 25px;
}
.contacto .datos {
  width: 98%;
  padding: 12px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 500;
  font-family: "Merriweather", serif;
  font-style: oblique;
}
