.contacto {
  grid-area: contacto;
  display: grid;
  width: 800;
  height: 100vh;
  padding: 70px;
  color: grey;
  margin-top: 0px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "contacto"
    "item4";
}

.contacto .text {
  color: black;
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto Slab", serif;
  font-style: normal;
  padding: 25px;
}
.contacto .datos {
  width: 98%;
  padding: 12px;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 500;
  font-family: "Merriweather", serif;
  font-style: oblique;
}

.item4 {
  grid-area: item4;
  width: 100%;
  background-color: rgba(104, 104, 78, 0.692);
  border: 1px solid rgb(70, 69, 69);
  bottom: 0;
  padding: 1em 0;
  position: absolute;
  clear: both;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
}
