.grid2 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "empleo empleo"
    "busqueda busqueda"
    "compliance secretary"
    "item10 item10";
  gap: 20px;
}

.empleo {
  background-color: rgba(171, 164, 164, 0.646);
  display: grid;
  width: 100%;
  grid-area: empleo;
  border: 1px solid rgb(70, 69, 69);
  grid-area: empleo;
}

.busqueda {
  background-color: rgba(171, 164, 164, 0.646);
  display: grid;
  width: 100%;
  grid-area: empleo;
  border: 1px solid rgb(70, 69, 69);
  grid-area: busqueda;
}

.trabajar {
  font-weight: 100;
  font-size: 25px;
  font-family: $typo-secundario;
  text-align: center;
  margin-top: 10px;
  border: 1.5px solid rgb(70, 69, 69);
}

// .box-container {
//   display: flex;
//   justify-content: center;
//   flex-wrap: wrap;
//   text-align: centers;
//   gap: 100px;
// }

.compliance {
  border: 1px solid rgb(70, 69, 69);

  grid-area: compliance;
}

.secretary {
  border: 1px solid rgb(70, 69, 69);

  grid-area: secretary;
}

.item10 {
  grid-area: item4;
  width: 100%;
  background-color: rgba(104, 104, 78, 0.692);
  border: 1px solid rgb(70, 69, 69);
  bottom: 0;
  padding: 1em 0;
  position: absolute;
  clear: both;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
}
